################################
# Python
################################
__pycache__/
*.py[cod]
*$py.class

# ambienti virtuali (IMPORTANTISSIMO)
venv/
env/
.venv/

################################
# Node / Electron
################################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

################################
# Build Electron (NON versionare)
################################
dist/
linux-unpacked/
out/
release/

*.AppImage
*.deb
*.snap
*.exe
*.dmg

################################
# System / IDE
################################
.DS_Store
.vscode/
.idea/

################################
# Logs
################################
*.log

################################
# Capture files (sniffer project)
################################
*.pcap
*.cap

################################
# OS / Linux
################################
*.swp
*.swo
*~

################################
# Electron cache / rebuild
################################
.cache/
electron-cache/